.form {
    .field {
        p {
            margin: 0;
            margin-bottom: $baseUnit*2;
            line-height: 1.5;
        }
    }

    input[type="submit"] {
        display: none;
    }
}