body {
    &.not-uploaded {
        height: 100vh;
        display: grid;
        grid-template-rows: 6.4rem auto;
        row-gap: $baseUnit;
    }
}

main.not-uploaded {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}


.upload-section {
    background-color: $white;
    border-radius: 1rem;
    padding: $baseUnit * 2;
    border: 1px solid $grayBorder;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.1s;

    &.highlight {
        border: 3px dashed $blue;
    }

    @include mobile {
        width: 50%;
    }

    h2 {
        margin-top: 0;
        margin-bottom: $baseUnit*1.5;
        text-align: center;
    }
}