*, *::before, *::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: $baseUnit;
    font-family: $mainFont;
    background-color: $grayBackground;

    &.not-uploaded {
        height: 100vh;
        display: grid;
        grid-template-rows: 6.4rem auto;
        row-gap: $baseUnit;
    }
}

p {
    text-align: justify;
}

a {
    text-decoration: none;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}

.container {
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
}

