// Colors
$cherry: #682444;
$grayBackground: #f6f8fa;
$grayBorder: #e1e4e8;
$grayButton: #fafbfc;
$gray: #676f77;
$blue: #0366d6;
$white: #FFF;
// $black: #000;
$black: #24292e;

// Fonts
$mainFont: 'Noto Sans JP', sans-serif;
$thin: 100;
$regular: 400;
$bold: 700;
$superBold: 900;

// Base Unit
$baseUnit: 1.6rem;

// Timing
$timing: 0.5s;
