.select-input {
    position: relative;
    display: flex;
    align-items: center;
    border: 1px solid $grayBorder;
    border-radius: 1rem;
    background-color: $grayButton;
    color: $blue;
    width: 100%;
    margin: 0 auto;
    height: $baseUnit * 2;
    padding-left: $baseUnit;
    cursor: pointer;

    @include mobile {
        width: 15rem;
    }

    &::after {
        content: "";
        position: absolute;
        top: $baseUnit/1.2;
        right: $baseUnit;
        border: $baseUnit/3 solid;
        border-color: $gray transparent transparent transparent;
        cursor: pointer;
        transition: $timing ease-in-out;
    }

    &:hover,
    &.selected {
        background-color: $grayInputHover;
    }
}

.month-container {
    display: grid;
    grid-template-columns: repeat(4, $baseUnit*3);
    grid-template-rows: repeat(3, $baseUnit*3);
    border: 1px solid $grayBorder;
    border-radius: 1rem;
    // background-color: $grayButton;
    background-color: $grayInputHover;
    width: fit-content;
    margin: 0 auto 0 auto;
    height: 0;
    overflow: hidden;
    opacity: 0.01;
    transition: $timing;

    input {
        width: 1px;
        height: 1px;
        display: inline-block; 
        position: absolute; 
        opacity: 0.01; 
    }

    label {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &:nth-of-type(1) {
            border-top-left-radius: 1rem;
        }

        &:nth-of-type(4) {
            border-top-right-radius: 1rem;
        }

        &:nth-of-type(9) {
            border-bottom-left-radius: 1rem;
        }

        &:nth-of-type(12) {
            border-bottom-right-radius: 1rem;
        }

        &:hover {
            background-color: $blue;
            color: $white;
        }
    }

    input:checked + label {
        background-color: $blue;
        color: $white;
    }
}

.select-input.selected {
    & + .month-container {
        margin-top: $baseUnit/2;
        opacity: 1;
        height: 14.4rem;
    }

    &::after {
        transform: rotate(180deg);  
        top: $baseUnit/1.2 - $baseUnit/3;
    }
}