.upload-section {
    background-color: $white;
    border-radius: 1rem;
    padding: $baseUnit * 2;
    margin-top: $baseUnit;
    border: 1px solid $grayBorder;

    h2 {
        margin-top: 0;
        text-align: center;

        @include mobile {
            text-align: center;
        }
    }

    .field:not(:last-of-type) {
        margin: $baseUnit * 2 0;
        
        @include mobile {
            margin-top: 0;
            margin-bottom: 0;
        }
    }
}

