.upload {
    background-color: $white;
    border-radius: 1rem;
    padding: $baseUnit * 2;
    margin-top: $baseUnit;
    border: 1px solid $grayBorder;

    h2 {
        margin-top: 0;
    }

    .field {
        margin: $baseUnit * 2 0;
    }
}

