body {
    display: grid;
    grid-template-columns: 2fr 10fr;
    height: 100vh;
}

.sidebar {
    display: grid;
    background: $blueBackground;
    grid-template-rows: repeat(3, minmax(min-content, max-content)) 1fr;

    .logo-container {
        display: flex;
        width: 100%;
        justify-content: center;
        padding-top: $baseUnit*3;
        padding-bottom: $baseUnit*6;

        .logo {
            font-size: $baseUnit*4;
            color: $white;
        }
    }
    

    .sidebar-item-container {
        display: flex;
        width: 100%;
        
        .sidebar-item {
            display: flex;
            align-items: center;
            padding: $baseUnit $baseUnit*1.5;
            color: darken($color: $white, $amount: 20%);
            width: 100%;
            font-size: $baseUnit - 0.2rem;
            font-weight: $thin;
            text-align: start;
            z-index: 1;

            &:hover {
                color: $white;
                font-weight: $regular;
            }
        }

        .sidebar-item-icon {
            margin-right: $baseUnit;

            &.fa-edit {
                margin-right: $baseUnit - 0.525rem;
            }
        }
    }

    .sidebar-item-container.selected {
        background-color: $grayBackground;
        border-right: 12px solid $grayBackground;
        margin: -12px 0;
        
        .sidebar-item {
            color: $black;
            font-weight: $bold;
        }

        .sidebar-item-icon {
            color: blue;
        }
    }
}
