body {
    display: grid;
    grid-template-columns: 2fr 10fr;
    height: 100vh;
}

.sidebar {
    display: grid;
    background: $blueBackground;
    grid-template-rows: repeat(3, minmax(min-content, max-content)) 1fr;

    .logo-container {
        display: flex;
        width: 100%;
        justify-content: center;
        padding-top: $baseUnit*3;
        padding-bottom: $baseUnit*6;

        .logo {
            font-size: $baseUnit*4;
            color: $white;
        }
    }
    

    .sidebar-item {
        display: flex;
        align-items: center;
        color: darken($color: $white, $amount: 20%);
        padding: $baseUnit $baseUnit*1.5;
        width: 100%;
        font-size: $baseUnit - 0.2rem;
        font-weight: $thin;
        text-align: justify;

        .sidebar-item-icon {
            margin-right: $baseUnit;
        }

        &:hover {
            color: $white;
            font-weight: $regular;
        }
    }

    .sidebar-item.selected {
        background-color: $white;
        color: $black;
        font-weight: $bold;
        padding-top: 0.4rem;
        padding-bottom: 0.4rem;
        padding-right: 0;

        .sidebar-item-icon {
            color: blue;
        }
    }

    button {
        background-color: transparent;
    }
}
