.loading-container {
    position: absolute;
    width: 0;
    opacity: 0;
    
    &.show {
        position: fixed;
        width: 100%;
        height: 100%;
        opacity: 1;
        z-index: 2;

        path {
            fill: url('#myGradient');
            animation: loadPage 1s forwards;
        }

        .loading-animation {
            position: absolute;
            opacity: 0;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            width: 9rem;
            height: 9rem;
            background-color: darken($color: $white, $amount: 30%);
            // background-color: #FFD10D;
            border-radius: 1rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            animation: startLoadingAnimation 0.5s 0.5s forwards, middleLoadingAnimation 1s 1s infinite forwards;
            
            &.show-success-message {
                animation: showSuccessMessage 1s forwards;
            }
    
            &.show-error-message {
                animation: showErrorMessage 1s forwards;
            }
        }
    
        .loading-text {
            opacity: 0;
            display: inline-block;
            position: relative;
    
            &.show-text-message {
                animation: showTextMessage 1s forwards;
            }
        }
    }

    &.hide {
        animation: removeContainer 0s 1s;

        .loading-animation {
            animation: middleLoadingAnimation 0.5s infinite, hideLoadingAnimation 0.5s forwards;
        }

        path {
            animation: removeLoadPage 1s forwards;
        }
    }
    
}

@keyframes loadPage {
    to {d: path("M 0,0 c 0,0 63.5,-16.5 80,0 16.5,16.5 0,60 0,60 L 0,60 Z");}
}

@keyframes removeLoadPage {
    from {d: path("M 0,0 c 0,0 63.5,-16.5 80,0 16.5,16.5 0,60 0,60 L 0,60 Z");}
    to {d: path("M 0,0 c 0,0 -16.5,43.5 0,60 16.5,16.5 80,0 80,0 L 0,60 Z");}
}

@keyframes hideLoadingAnimation {
    from {opacity: 1;}
    to {opacity: 0;}
}

@keyframes removeContainer {
    100% {position: absolute; width: 0; opacity: 0;}
}

@keyframes startLoadingAnimation {
    0% {opacity: 0;}
    100% {opacity: 1; transform: rotateX(180deg);}
}

@keyframes middleLoadingAnimation {
    0% {opacity: 1;}
    50% {opacity: 1; transform: rotateZ(180deg);}
    100% {opacity: 1; transform: rotateY(180deg);}
}

@keyframes showSuccessMessage {
    0% {opacity: 1;}
    100% {opacity: 1; width: 20rem; background-color: #56FF19;}
}

@keyframes showErrorMessage {
    0% {opacity: 1;}
    100% {opacity: 1; width: 20rem; background-color: #FF4740;}
}

@keyframes showTextMessage {
    0% {opacity: 0; left: 3rem;}
    100% {opacity: 1; left: 0;}
}